@media (max-width: 1390px) {    
  .second_cont{background-size: 48%;}
  .product_page .first_cont{background-size: 56%; min-height: 650px;}
  .product_page .first_cont h3{margin-top: 140px;}
  .product_page .third_cont{min-height: 540px;}
  .product_page .fourth_cont{min-height: 500px;background-size:contain;margin-top: 20px;}
  .product_page .fifth_cont{min-height: 515px;background-size:contain;}
  .product_page .fifth_cont h3{margin-top: 110px;}
  .product_page .fifth_cont .subscribe_text{padding-left: 15px;}
}

@media (max-width: 1199px) {
.nav ul{width: 96%;}
.nav li {margin-right: 0;}
.banner{background-position:right;}
.banner h1 {margin-top: 17%;}
.banner, .content{min-height: 501px;} 
.first_cont{background-size: 37%;}
.first_cont h3{margin-top: 90px;}
.second_cont h3{margin-top: 65px;}
.block_title {margin-top: 40px;}
.first_cont .block_title {margin-bottom: 0px;}
.second_cont{background-size: 45%;}
.step{margin-top: 12%;}
.third_cont{background-size: 20%;}
.third_cont h3{margin-top: 80px;margin-bottom: 45px;}
.fourth_cont{background-size: 45%;}
.spec_icons div{margin-bottom: 15px;}
.spec_icons:last-child li:nth-child(2) div{margin-bottom: 10px;}
.chronicle{min-height: 310px;}
.chronicle h4 {margin-top: 30px;}
.chronicle img {margin-top: 45px;}
.third_ul li {width:15%;margin-right:6%;}

.product_page .first_cont{min-height: 560px;}
.product_page .second_cont h3{margin-top: 10px;}
.product_page .step{margin-top: 0;}
.product_page .second_cont{min-height: 450px;}
.product_page .third_cont{min-height: 500px;background-position-x: 5%;}
.product_page .fourth_cont {min-height: 390px;}
.product_page .fourth_cont h3{margin-top: 60px;}
.product_page .fifth_cont {min-height: 420px;}
.product_page .fifth_cont h3{margin-top: 55px;}
}

@media (max-width: 991px) {
  #pull{display: block;float: right;}
  nav ul{display: none;position: absolute;background: white;width: 220px !important;position: absolute;right: 0;top: 91px;border-bottom-left-radius: 20px;z-index: 2;box-shadow: 0 5px 10px rgba(0,0,0,0.5);} 
  nav ul li{width: 100%;text-align: center;margin-top: 5px;margin-bottom: 5px;}

  .rounded{width: 80%;margin-left: 10%;}
  .nav{padding-top: 28px; padding-bottom:28px;}
  .banner, .content{min-height: 401px;}
  .banner h1 {margin-top:11%; line-height: 38px; font-size: 34px;}
  .banner p{padding-right: 0 !important; margin-bottom: 9%; font-size: 19px;}
  .mouse{width: 22px;margin: -11px;bottom: -25px;}
  .vorteile h2 {margin-bottom: 25px;}
  .vorteile .row div {margin-top: 20px;}
  .first_cont{background-position-x: 2%;background-size: 40%;}
  .first_cont h3, .second_cont h3, .third_cont h3{margin-bottom: 20px; font-size: 45px;}
  .first_cont .block_title, .third_cont h3{margin-top: 30px;}
  .second_cont h3 {margin-top: 20px;}
  .fourth_cont h3{margin-top: 40px;margin-bottom: 25px;}
  .fourth_cont{background-size: contain;}
  .spec_icons li{margin-bottom: 15px;margin-top: 15px;}
  .spec_icons p {font-size: 13px; word-wrap: break-word;}
  .chronicle {min-height: 250px;}
  .chronicle .container{margin-right: 0px; text-align: center;}
  .chronicle h4{margin: 20px 0;}
  .chronicle img{margin-top: 25px;}
  .third_ul li {width: 15%;margin-right: 6%; height: 42px;}
  .third_ul li i {font-size: 23px;padding-top: 8px;}

  .memories h2{margin-top: 70px;}

  .product_page .first_cont{min-height: 500px;}
  .product_page .first_cont h3{margin-top: 100px;}
  .product_page .subscribe_text p{font-size: 14px;}
  .product_page .second_cont{min-height: 330px;}
  .product_page .second_cont h3{margin:0 0 15px 0;}
  .product_page .second_cont hr{margin:0 0 5px 0;}
  .memories button{margin-bottom: 50px;}
  .product_page .third_cont {min-height: 360px;}
  .product_page .third_cont h3 {margin-top: 40px;}
  .product_page .fourth_cont{min-height: 310px;}
  .product_page .fourth_cont h3{margin-top: 40px;}
  .product_page .fifth_cont {min-height: 285px;}
  .product_page .fifth_cont h3 {margin: 10px 0 20px 0;}
  .product_page .container{width:auto;}
}

@media (max-width: 930px){
  .product_page .first_cont{min-height: 450px;}
}

@media (max-width: 840px){
  .product_page .first_cont{min-height: 420px;}
}

@media (max-width: 768px){
  .banner, .first_cont{min-height: 345px;}
  .banner h1{line-height: 26px; font-size: 20px;}
  .banner p{font-size: 15px; line-height: 20px;}
  .emotion{background: rgba(2,191,197,0.6);border-radius: 10px;padding-bottom: 16px;margin: 39px 0 10px 1%;color: white;width: 60%}
  .emotion img,.chronicle img{max-width: 80%;}
  .mouse{bottom: -35px;}
  .vorteile p{width: 80%;margin-left: 10%;}
  .first_cont{background-size: contain;background-position-x: -45px;}
  .content .container{background: rgba(2,191,197,0.5);border-radius: 10px;padding-bottom: 16px;color: white;float: right;width: 45%;margin-right: 1%;}
  .third_cont .container{background: rgba(255,255,255,0.9); color:#02bfc5;}
  .subscribe_text{width: auto; margin-left:0;}
  .block_title{font-size: 24px;}
  .content{padding-top: 20px; padding-bottom: 20px;}
  .first_cont h2{text-align: left;}
  .content h3{margin-top: 50px;font-size: 35px;}
  .third_cont h3{margin-top: 10px;}
  .subscribe_text p{font-size: 15px;}
  .second_cont, .third_cont{background-size: contain;margin-top: 30px;min-height: 320px;}
  .second_cont .container, .fourth_cont .container{width: 41%;margin-left: 1%; float:left;}
  .step{margin-top: 0;}
  .step p{color:white;}
  hr{background: white;}
  .second_cont h3{margin-top: 20px;}
  .fourth_cont{margin-top: 20px; min-height: 340px;}
  .subs_block{margin-bottom: 40px;}
  .subscription h2{margin-top: 40px; margin-bottom: 40px;}
  .spec_icons p {font-size: 18px;}
  .block_title{margin-bottom: 40px;}
  .spec_icons li {margin-bottom: 40px;}
  .mehr button{margin-bottom: 30px;margin-top: 0;}
  .chronicle h4{font-weight: 100;}
  .chronicle p{line-height: 1.2em;}
  .chronic_text{width: 100%;margin-left: 0;}
  .owl-theme .owl-controls .owl-buttons div{top:0;}
  .owl-prev{left:inherit; right: 50px;}
  .owl-next{right: 0px;}
  .owl-carousel{margin-top: 40px;margin-bottom: 20px;}
  footer h5{margin-top: 25px;margin-bottom: 20px;}
  footer p{margin-bottom: 20px;}
  footer p:last-child{padding-bottom: 20px;}
  footer h6:last-child{text-align:center;}

  .third_ul li{width:45px;height:45px;margin-right: calc((100% - 225px)/4);}
  .third_ul li:last-child{margin: 0;}
  .third_ul li i {font-size: 25px;padding-top: 9px;}
  .newsletter h6{text-align: center;}

  .product_page .first_cont h2{text-decoration: underline;}
  .product_page .first_cont h3{margin-top: 30px;font-size: 23px;}
  .product_page .first_cont{background-size: contain; min-height: 270px}
  .product_page .first_cont .container {min-width: 306px;}
  .product_page .step{margin-top: 15px;}
  .product_page .emotion{width: 82%;}
  .product_page .fifth_cont h3 {margin-top:40px;}
  .product_page .fifth_cont .container {background-color: rgba(255,255,255,0.9); color:#02bfc5; float:right; margin-right: 5%; width: 70%;}
  .product_page .memories h2{margin-top: 40px;}
  .product_page .memories button{margin-bottom: 40px;}
  .product_page .chronicle .container{float:left;margin-left: 1%;}
}

@media (max-width: 680px){
  .first_cont .container, .third_cont .container{width: 80%;float:right;margin-right: 5%;}
  .second_cont .container, .fourth_cont .container{width: 70%;margin-left: 5%;}
  .chronicle .container{width: 70%;float:right;margin-right: 5%;}
  .emotion{margin-left: 5%;}
  .product_page .second_cont{min-height: 280px;padding-bottom: 0;}
  .product_page .second_cont .container{width: 85%;}
  .product_page .chronicle .container{margin-left: 5%;}
}

@media (max-width: 560px){
  .operating_info, .additional_info{width: 100%;margin: 0;text-align: center;}
  .memories h2{margin-top: 50px;}

@media (max-width: 500px){
  .subs_block{width: 92%; margin-left: 4%;}
  .spec_icons{width: 50%;margin: 0;}
  .chronicle{background-position: -200px;}
  .newsletter{width:100%; margin: 0;}
  
}

@media (max-width: 450px){
  .memories h2{margin: 25px 0 10px 0;}
  .product_page .fifth_cont .container{width: 85%;}
}

@media (max-width: 400px) {
  .fourth_cont {background-size: cover;}
  .product_page .fourth_cont {background-position-x: 75%;background-size: cover;}
}

@media (max-width: 360px) {
  .banner, .first_cont{min-height: 301px;}
  .emotion{margin-top: 12px;}
  .spec_icons{width: 100%;}

  .product_page .first_cont h3,.product_page .first_cont h2{font-size: 20px;}
  .product_page .first_cont .container{min-width: 270px;}
}
