html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Hairline.otf);
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-SemiBold.otf);
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-ExtraBold.otf);
  font-weight: 800;
}
body {
  font-family: Montserrat;
  color: #515151;
  height: 2000px;
}

a {
  color: #515151;
}

a:hover {
  cursor: pointer;
}

/*HEADER*/
header .row div:first-child img {
  max-width: 100%;
  max-height: 48px;
}

.logo {
  padding-top: 21px;
  padding-bottom: 21px;
}

.nav {
  padding-top: 29px;
  position: static;
}
.nav ul {
  float: right;
  width: 90.5%;
}
.nav li {
  float: left;
  margin-right: 15px;
}
.nav li a {
  font-weight: 300;
  font-size: 16px;
  display: block;
  padding: 10px;
}
.nav li:first-child a {
  font-weight: 500;
  color: #02bfc5;
}
.nav li:hover {
  cursor: pointer;
}
.nav li:hover a {
  color: #02bfc5;
}

#pull {
  display: none;
}
#pull i {
  color: #02bfc5;
  font-size: 35px;
}

/*BANNER*/
.banner {
  position: relative;
  background: url("../imgs/banner.png");
  min-height: 801px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner h1 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 31%;
}
.banner p {
  font-size: 20px;
  padding-right: 15%;
  font-weight: 300;
  line-height: 25px;
  margin-top: 5%;
  margin-bottom: 14%;
}

.rounded {
  border: 1px #02bfc5 solid;
  border-radius: 20px;
}
.rounded a {
  color: #02bfc5;
}

.rounded:hover, .rounded a:hover {
  color: #515151 !important;
  border-color: #515151 !important;
}

.emotion {
  z-index: 1;
}
.emotion img {
  max-width: 70%;
}

.mouse {
  position: absolute;
  left: 50%;
  margin: -15px;
  bottom: -30px;
}

/*VORTEILE*/
.vorteile {
  text-align: center;
}
.vorteile h2 {
  font-size: 30px;
}

.vorteile_icon {
  margin: 0 auto;
  background-image: url("../imgs/vorteile_icon.png");
  background-repeat: no-repeat;
}

.vorteile .row > div div {
  height: 61px;
}

.vorteile .row > div:first-child div {
  width: 49px;
}

.vorteile .row > div:nth-child(2) div {
    width: 67px;
    background-position-x: -54px;
}

.vorteile .row > div:nth-child(3) div {
    width: 65px;
    background-position-x: -124px;
}

.vorteile .row > div:last-child div {
    width: 70px;
    background-position-x: -190px;
}