@import "compass/reset";

$b: #02bfc5;
$g: #515151;
$lg: #d8e2e2;

@font-face {
	font-family: Montserrat;
    src: url(../fonts/Montserrat-Hairline.otf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBold.otf);
    font-weight: 800;
}

body{
	font-family: Montserrat;
	color:$g;
	height: 4000px; //////////////////////////////////////////////////УБРАТЬ
}

a {color: $g;}
a:hover{cursor: pointer;}

/*HEADER*/

header{
	.row{
		div:first-child{
			img{
				max-width: 100%;
				max-height: 48px;
			}
		}
	}
}

.logo{padding-top: 21px; padding-bottom: 21px}

.nav{
	padding-top:29px;
	position: static;

	ul {    float: right;width: 90.5%;}
	li{
		float: left;
		margin-right: 15px;
		
		a{
			font-weight: 300;
			font-size: 16px;
			display:block;
			padding: 10px;
		}
	}

	li:first-child{ a{font-weight: 500; color:$b;}}
	li:hover{cursor:pointer;}
	li:hover a{color:$b;}

	}

	#pull{
		display: none;
		
		i{
			color:#02bfc5;
			font-size: 35px;
		}
	}

	/*BANNER*/

.banner{
	position:relative;
	background: url("../imgs/banner.png");
    min-height: 801px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1{font-size:40px;    line-height: 50px; margin-top: 31%;}
    p{font-size:20px;padding-right: 15%; font-weight:300;line-height:25px;margin-top:5%; margin-bottom: 14%;}
	}


.rounded{
  border: 1px $b solid;
  border-radius: 20px;
  a{color:$b;}
}

.rounded:hover, .rounded a:hover{color: #515151 !important; border-color:#515151 !important;}

.emotion{
	img{max-width: 70%;}
	z-index: 1;
}

.mouse{
	position:absolute;
	left:50%;
	margin:-15px;
	bottom: -30px;
}

/*VORTEILE*/

.block_title{
	font-size: 30px;
	margin-top: 85px;
	margin-bottom: 70px;
}

.vorteile{
	text-align: center;
	margin-bottom: 60px;

	h3{
		font-size: 18px;
		font-weight:bold;
		margin-top: 35px;
		margin-bottom: 37px;
	}

	p{
		font-size: 14px;
    	font-weight: 300;
	}
}

.vorteile_icon{
	margin: 0 auto;
    background-image: url('../imgs/vorteile_icon.png');
    background-repeat: no-repeat;
} 
 .vorteile .row > div div {
   height: 61px;
 }
 
 .vorteile .row > div:first-child div {
   width: 49px;
 }
 
 .vorteile .row > div:nth-child(2) div {
     width: 67px;
     background-position-x: -54px;
 }
 
 .vorteile .row > div:nth-child(3) div {
     width: 65px;
     background-position-x: -124px;
 }
 
 .vorteile .row > div:last-child div {
     width: 70px;
     background-position-x: -190px;
 }

 /*FIRST CONTENT - SUBSCRIBE*/

 .first_cont, .second_cont{
	position: relative;
	background-repeat: no-repeat;
	background-position-y: bottom;
	min-height: 815px;
	overflow: hidden;
 }

 .first_cont{
    background: url("../imgs/subscribe_bckg.png");
    background-color: #d8e2e2;
    background-position-x: 15%;
    h2{text-align:center;}
}

.number_slide{
	width: 60px;
	height: 60px;
	position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: 11%;
}

.number_slide p{
	width: 48px;
	height: 48px;
    border: 1px solid #02bfc5;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    color: #02bfc5;
    font-size: 30px;
}

.active{border: 1px solid #02bfc5; border-radius: 50%; width: 100px; height: 100px; margin-left: -50px;}
.active p{background:#02bfc5; color:#d8e2e2; margin-top: 12px;margin-left: 12px; width: 75px; height: 75px; font-size: 50px;}
.active .mouse2{margin-left: 0px;}

.mouse2{
	position: absolute;
    left: 50%;
    height: 540px;
    width: 0px;
    border-right: 1px #02bfc5 dashed;
    top: 75px;
    margin-left: -6px;
}

.first_cont h3{
	font-size: 48px;
    font-weight: 100;
    margin-top: 140px;
    margin-bottom: 70px;
}

 .subscribe_text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
}

.second_cont{
	background: url("../imgs/select_bckg.png");
}