@import "compass/reset";

$b: #02bfc5;
$g: #515151;

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBold.otf);
    font-weight: 800;
}

body{
	font-family: Montserrat;
	color:$g;
}

header{
	.row{
		div:first-child{
			img{
				max-width: 100%;
				max-height: 48px;
			}
		}
	}
}

.logo{padding-top: 21px; padding-bottom: 21px}

.nav{
	padding-top:38px;
	padding-top:38px;

	ul {    float: right;width: 76%;}
	li{
		float: left;
		padding-right: 4%;
		font-weight: 300;
		font-size: 16px;
	}

	li:first-child{font-weight: 500; color:$b;}
	li:last-child{padding-right: 0;}

	}

	#pull{
		display: none;
		
		i{
			color:#02bfc5;
			font-size: 35px;
		}
	}

.banner{
	background: url("../imgs/banner.png");
    min-height: 801px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	}

