<footer>
    <div class="container">
        <div class="row footer_nav">

            <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 operating_info">
                <h6>Wir sind persönlich für Sie da</h6>
                <ul>
                    <li><p>Unsere Service-Mitarbeiter helfen Ihnen gerne weiter</p></li>
                    <li><a><i class="fa fa-comments" aria-hidden="true"></i>zum Chat</a></li>
                    <li><a href="mailto:hotline@personello.com"><i class="fa fa-envelope" aria-hidden="true"></i>hotline@personello.com</a>
                    </li>
                    <li><a href="tel:06841979165">Telefonish: 06841 979 165</a></li>
                    <li><p>(Mo-fr von 8:00 - 17:00 Uhr)</p></li>
                </ul>
            </div>

            <div class="col-xs-offset-2 col-sm-offset-0 col-md-3 col-sm-2 col-xs-4 additional_info">
                <h6>Weitere Info</h6>
                <ul>
                    <li><a>Über uns</a></li>
                    <li><a>Datenschutz</a></li>
                    <li><a>AGB</a></li>
                    <li><a>FAQ/Service</a></li>
                    <li><a>Presse</a></li>
                    <li><a>Impressum</a></li>
                </ul>
            </div>

            <div class="col-xs-offset-2 col-sm-offset-0 col-md-4 col-sm-5 col-xs-8 newsletter">
                <h6>Newsletter</h6>

                <div class="mail_input">
                    <form id="mail_form">
                        <input type="text" placeholder="Unsere E-mail">
                        <button class="button" type="submit" form="mail_form">Abonnieren</button>
                    </form>
                </div>
                <div>
                    <ul class="third_ul">
                        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 copyright">
                <p>© 2016 PhotoMemory Buch - Ihr Fotobuch Abonement</p>
            </div>
        </div>
    </div>
</footer>
<script src="/dist/js/script.min.js"></script>
</body>
</html>